In [ ]:
student = [
    'Rahul',
    4,
    10,
    True,
    False,
    12939,
    2099,
]

In [ ]:
student_dict = {
    'name': 'Rahul',
    'class': 4,
    'age' : 10,
    'hostler' : True,
    'vehicle' : False,
    'roll no': 12939,
    'fee' : 2099,
}

## properties
- is unindexed
- key : value based structure
- key is always unique for a single dict
- key can only be immutable (string/tuple/integer)
- value can be of any data type and can be duplicated
- mutable and heterogenous
- represented by `{ }` with `key:value` pair
- has a function called `dict()`

What u need to learn?
- creation
- loop
- operation
- function
- comprehension
- map, filter

In [ ]:
# empty dict
x = {} 
type(x)

In [ ]:
x ={'name':'Raju','age': 10}
print(x)
print(type(x))

In [ ]:
colordata = {
    'red' : '#ff000',
    'blue': '#0000ff',
    'green': '#00ff00',
    'orange': '#ff8800'
}

In [ ]:
fruit_prices = dict(apple = 100, orange = 40, banana= 40, dragonfruit=299)
fruit_prices

In [ ]:
# nested dictionary
marks = {
    'Animesh' : {
        'english' : 4,
        'hindi' : 5,
        'maths' : 9
    },
    'Suyash' : {
        'english' : 6.3,
        'hindi' : 3,
        'maths' : 6
    }
}

marks

In [ ]:
marks = dict(animesh = dict(english=4, hindi=5, maths=6),
            suyash = dict(english=4, hindi=5, maths=6))
marks

# how to access data

In [ ]:
fruit_prices['apple']

In [ ]:
marks['animesh']

In [ ]:
marks['animesh']['hindi']

In [ ]:
scores = {
    'alex' :[10,20,30,10,20],
    'alexa':[2, 40,20,10,30]
}

In [ ]:
scores['alex']

In [ ]:
scores['alexa'][2]

# for loop for dict

In [ ]:
# by default a dict will only provide u the keys
for i in colordata:
    print(i)

In [ ]:
# getting value the naive way
for i in colordata:
    print(i, colordata[i])

In [ ]:
# getting value the another way
for i in colordata.values():
    print(i)

In [ ]:
# THE PROPER WAY FOR DICT Traversal
for k,v in colordata.items():
    print(k, v)

In [ ]:
for k,data in marks.items():
    print(k)
    print(data)

In [ ]:
for k,data in marks.items():
    print(k,'=>')
    if isinstance(data, dict):
        for k, v in data.items():
            print("\t",k, v)
    else:
        print(data)

# functions
- add
    - `no function for single key value pair`
    - update
- remove
    - pop
    - popitem
    - clear
- utility
    - copy
    - get
    - fromkeys
    - items
    - keys
    - values

##### how to add a single k:v pair in dict

In [ ]:
marks['kuldeepak'] = {'hindi': 5}

In [ ]:
marks

In [ ]:
colordata['yellow'] = '#ffff00' # new key and value will be added
colordata

In [ ]:
fruit_prices['banana'] = 50 # existing key can be updated
fruit_prices

In [45]:
fruit_prices

{'apple': 100, 'orange': 40, 'banana': 50, 'dragonfruit': 299}

In [46]:
veg_prices = {
    'tomato' : 30,
    'potato' : 20,
}

In [47]:
fruit_prices + veg_prices

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [48]:
fruit_prices.update(veg_prices)

In [49]:
fruit_prices

{'apple': 100,
 'orange': 40,
 'banana': 50,
 'dragonfruit': 299,
 'tomato': 30,
 'potato': 20}

In [50]:
fruit_prices.pop('tomato')

30

In [52]:
fruit_prices.pop('potato')

20

In [53]:
fruit_prices

{'apple': 100, 'orange': 40, 'banana': 50, 'dragonfruit': 299}

In [54]:
fruit_prices.popitem()

('dragonfruit', 299)

In [55]:
fruit_prices.clear()

# TASKS
- #### create a dictionary using for loop to store the contact numbers of family members (atleast 10)

- #### create a dictionary that contains prices of common items and then write the code to display the sum and avg price of all items

- #### Create a dictionary to add 5 employees with details like name, designation, salary, joining data, dept ,etc.

3 jan 2022

In [6]:
x = {
    'Apple': 'Red',
    'Orange' : 'Orange',
    'Banana' : 'Yellow'
}

In [7]:
y = x.copy()
y.pop('Apple')
print(x, y)

{'Apple': 'Red', 'Orange': 'Orange', 'Banana': 'Yellow'} {'Orange': 'Orange', 'Banana': 'Yellow'}

In [10]:
x.get('apple')

In [11]:
x.get('Apple')

'Red'

In [12]:
x.get('Cherry','Not Found')

'Not Found'

In [15]:
x.get('Banana',False)

'Yellow'

In [16]:
x.get('Gauva',False)

False

In [18]:
list(x.items())

[('Apple', 'Red'), ('Orange', 'Orange'), ('Banana', 'Yellow')]

In [20]:
list(x.keys())

['Apple', 'Orange', 'Banana']

In [21]:
list(x.values())

['Red', 'Orange', 'Yellow']

In [27]:
e = ['Raj','Vijay','Sundar','Rohan','Ravi','Sonu',"Raju",'Vikas']
emp_data = {}.fromkeys(e,1001)
emp_data

{'Raj': 1001,
 'Vijay': 1001,
 'Sundar': 1001,
 'Rohan': 1001,
 'Ravi': 1001,
 'Sonu': 1001,
 'Raju': 1001,
 'Vikas': 1001}

In [28]:
emp_data.setdefault?

Signature: emp_data.setdefault(key, default=None, /)
Docstring:
Insert key with a value of default if key is not in the dictionary.

Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [36]:
emp_data.setdefault('Varun',1500)

500

In [38]:
emp_data['Varun'] = 2001
emp_data

{'Raj': 1001,
 'Vijay': 1001,
 'Sundar': 1001,
 'Rohan': 1001,
 'Ravi': 1001,
 'Sonu': 1001,
 'Raju': 1001,
 'Vikas': 1001,
 'Arun': None,
 'Varun': 2001}

In [37]:
emp_data

{'Raj': 1001,
 'Vijay': 1001,
 'Sundar': 1001,
 'Rohan': 1001,
 'Ravi': 1001,
 'Sonu': 1001,
 'Raju': 1001,
 'Vikas': 1001,
 'Arun': None,
 'Varun': 500}