In [3]:
"Zaid kamil"

'Zaid kamil'

In [4]:
298798 + 19823798

20122596

In [5]:
print(2)
print("the work of coder")
print('alpha','beta',100,'üòéüë®‚Äçüéìüò∂üò∂‚òÆüåÖüëå')

2
the work of coder
alpha beta 100 üòéüë®‚Äçüéìüò∂üò∂‚òÆüåÖüëå

In [6]:
input("enter your school/college")

'CTC'

In [7]:
x = 10
y = 20

In [8]:
college = input("enter the college/school")

In [9]:
print(x, y)

10 20

In [10]:
print(college)

ABC

### Operators in python
- mathmetical ‚úî
- comparison ‚úî
- assingment ‚úî
- logical    ‚úî
- membership
- instance

In [11]:
a = 10
b = 7

In [12]:
a + b

17

In [13]:
print(a - b)
print(a / b)
print(a * b)

3
1.4285714285714286
70

In [14]:
print(a // b) # integer division (quotient)

1

In [15]:
print(a % b) # remainder

3

In [16]:
print(a ** b) # exponent

10000000

level 1 / * // % ** 
level 0 + -

In [17]:
2 + 3 - 10 * 3 + 6 // 2  # operator predence is used

-22

In [18]:
# assignment
size = 10

In [19]:
size += 5 # update 5 to existing size

In [20]:
size -= 5

In [21]:
del a # destroy a from memory

In [22]:
size /= 2
size *= 5
size %= 3
size //= 2
size **= 3

In [23]:
size

0.0

In [24]:
# comparison
x > y

False

In [25]:
x < y

True

In [26]:
x >= 3

True

In [27]:
100 <= 20

False

In [28]:
"apple" == "Apple"

False

In [29]:
x != y

True

13 - Dec - 2021

In [1]:
age = 19
country = "India"

logical operator
- **and** -> means every condition should be correct -> gives True when all conditons are True
- **or** -> means any one condition can be correct -> gives True when any of the condtions is True
- **not** -> means that reversed condition -> gives True when the condition is False and vice versa

In [2]:
age > 18 and country == "India"

True

In [3]:
age > 20 and country == "India"

False

In [4]:
50 == 25 or 100 > 50

True

In [6]:
age == 18 or country == "china"

False

In [7]:
x = 3

In [9]:
a = [2,3,4,5,1]

In [11]:
# membership operator is used to search in an iterable -> in
10 in a

False

In [12]:
3 in a

True

In [13]:
fridge = ['Water','Ice Cream','Sweets','Cheese']

In [14]:
'chocolate' in fridge

False

In [16]:
'water' in fridge # case sensitive

False

# datatypes
python has basically 9 types of data

---
- integer => `int`
- float => `float`
- boolean => `bool` => `True` / `False`
- nonetype => `None`
---
- string => `str`
- list => `list`
- tuple => `tuple`
- set => `set`
- dictionary => `dict`

# casting
the way to convert a value to a different datatype

we have special functions for converting a value to another datatype
like
- str() `tries to change a value to str datatype`
- int() `tries to change a value into int datatype`
- bool() `tries to change value to bool datatype`

etc

In [18]:
a = 10
print(type(a))

a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [21]:
float(a)

10.0

In [23]:
a = float(a)
print(a)

10.0

In [26]:
a = bool(a)
print(a)

True

In [27]:
name = input("Who are u?")
age = input('What is ur age?')
ans = input("how many days in a leap year?")
is_married = input("Are u married?")

print(name, type(name))
print(age, type(age))
print(ans, type(ans))
print(is_married, type(is_married))

Bruce Wayne <class 'str'>
2000 <class 'str'>
366 <class 'str'>
No <class 'str'>

In [29]:
age = int(age) # try to convert the value of age varirable to integer
age > 18

True

In [30]:
# add to numbers
a = input('enter A:')
b = input('enter B:')
a + b

'12003000'

In [31]:
a = input('enter A:')
b = input('enter B:')
a = int(a)
b = int(b)
a+b

4200

In [34]:
a = int(input('enter A:'))
b = int(input('enter B:'))
a + b

3

In [35]:
a = float(input('enter A:'))
b = float(input('enter B:'))
a + b

5.4231231

In [36]:
a = int(float(input('enter A:')))
b = int(float(input('enter B:')))
a + b

1232441

# Displaying Output using print
- print functions allows to display output
- we can also set the ending character in the print function
- we can also set the seperator when displaying multiple values in print

In [37]:
print('Hello')

Hello

In [39]:
print("This is a line")
print("This is another line")

This is a line
This is another line

In [42]:
print("This is a line\nThis is another line")

This is a line
This is another line

In [43]:
print("This is a line","This is another line", sep="\n")

This is a line
This is another line

In [44]:
print("This is a line","This is another line")

This is a line This is another line

In [45]:
print(1,2,3,4,5)

1 2 3 4 5

In [51]:
print(1,2,3,4,5, sep='‚ùå')

1‚ùå2‚ùå3‚ùå4‚ùå5

In [55]:
print('hello' ,end=',')
print("India")

hello,India

# displaying content with variables
to mix variables with a string for making a message, we have 5 ways in python
- using simple comma seperated system in print ‚úî
- using + operator and concatenating values ‚ùå
- using format strings for display ‚ùå
- using format() function ‚ùå
- using f-string ‚úî

In [65]:
name = 'Arti'
age = 7
color = 'yellow'
print('My name is',name,'and i am',age,'year old','& i like color',color)

My name is Arti and i am 7 year old & i like color yellow

In [68]:
print(f'My name is {name} and i am {age} years old & i like color {color}')

My name is Arti and i am 7 years old & i like color yellow

In [73]:
a = 10
b = 3
c = a / b
print(f'{a} divided by {b} gives {c:.1f}')

10 divided by 3 gives 3.3

# the end of basic python