# What u will learn
- creation
- indexing and slicing
- operators with list
- functions
- list comprehension
- lambda expression
- map and filter

## properties
- is indexed
- is mutable (dynamic/changeable at runtime)
- is heterogenous (can store diffrent datatype element)
- is represented by square bracket `[ ]`
- has a function called `list()` 
- can hold duplicate elements
- can be nested

In [ ]:
x = [] # empty list
print(x)

In [ ]:
y = [1,2,3,4]
print(y)
colors= ['red','blue','green']
print(colors)
z = [True,False,True]
print(z)

In [ ]:
a = [1,2,'apple','banana',True,21.22]
print(a)

In [ ]:
nest_list = [[1,2],[3,4],[4,5]]
print(nest_list)

In [ ]:
name = "Sylvester"
name_char = list(name)
print(name_char)

In [ ]:
a = 10
b = 20
c = 30
x = [a,b,c]
x

In [ ]:
# advance way of replication
ones =  [1] * 10
ones

In [ ]:
x = [34,1,2,31,23,1,45,6,56,23,23,12]
print(x[0])
print(x[5])
print(x[-5])
print(x[-1])

In [ ]:
x[0] = 5
x[-1] = 10
x

In [ ]:
x[:5] # first five

In [ ]:
x[-5:] # last five

In [ ]:
x[2:-2] # everything except first 2 and last 2

In [ ]:
x[::-1] #reversing

In [ ]:
# replication => list can be multiplied with postive integer only
[0] * 5

In [ ]:
# concatenation => list can be concatenated with a list
x + z

In [ ]:
xz = x + z
print(xz)

## functions (methods)
- for adding item
    - append
    - insert
    - extend
- for removing item
    - remove - by value
    - pop - by index
    - clear
- other functions
    - count
    - index
    - copy
    - reverse
    - sort

In [ ]:
books = ['Pygmalion','Julias Caeser']

In [ ]:
books.append("Legion")
books

In [ ]:
books.append("The final Empire")
books

In [ ]:
books.append('AppleSeed')
books

In [ ]:
x = ['red','yellow','blue']

In [ ]:
x.insert(1,'orange')
x

In [ ]:
x.insert(3,'green')
x

In [ ]:
new_books = ['New Moon','The chambers of secrets','The Way of Kings']

In [ ]:
books.extend(new_books)
books

In [ ]:
books

In [ ]:
if 12 in books:
    books.remove(12)
books

In [ ]:
if 'The final Empire' in books:
    books.remove('The final Empire')
books

In [ ]:
books.pop(5) # pops outs elemnets from index 5

In [ ]:
deleted_item  = books.pop(0)
deleted_item

In [ ]:
books

In [ ]:
books.pop()

In [ ]:
books.pop()

In [ ]:
books

In [ ]:
x.clear()
x

In [ ]:
books.reverse()
books

In [ ]:
books.sort()
books

In [ ]:
x = [1,2,3]*3 + [1,2]*5

In [ ]:
x

In [ ]:
x.count(3)

### TASKS
- take user input and store the values in list, till the user enters EOF
- Create a list from 1 to 100 and then display the sum of all the even values in it
- Add 5 to each element of given list `[12,45,67,7,21]`
- remove all the duplicate values from the given list `[1,2,2,2,1,1,2,2,2,1,2,2,2,2,2,2,1,1,2,3]`

In [ ]:
x = []
while True:
    data = input("Enter anything: ")
    if data.casefold() == "eof":
        break
    else:
        x.append(data)

In [ ]:
x = list(range(1,101))
sum(x[1::2])

In [ ]:
x = [12,45,67,7,21]
x2 = []
for i in x:
    x2.append(i + 5)
print(x)
print(x2)

In [ ]:
x = [1,2,2,2,1,1,2,2,2,1,2,2,2,2,2,2,1,1,2,3]
y = []
for i in x:
    if i not in y:
        y.append(i)
print(x)
print(y)

In [ ]:
x = [1,2,2,2,1,1,2,2,2,1,2,2,2,2,2,2,1,1,2,3]
x = list(set(x))
x

In [ ]:
y = ['alpha','beta','gamma','delta','theta']
y.index('gamma')

In [ ]:
if 'delta' in y:
    print(y.index('delta'))

In [ ]:
if 'zeta' in y:
    print(y.index('zeta'))

In [ ]:
a = 1
b = 2
c = [1,2,3]

In [ ]:
c == [1,2,3]

In [ ]:
c is [1,2,3] # is c having the same memory address as [1,2,3]

In [ ]:
a = [1,2,3]

In [ ]:
c == a

In [ ]:
b = a # b will be having the same memory address as a

In [ ]:
a is b

In [ ]:
b is c

In [ ]:
y = x
x.append(10)
y.append(20)
print(x)
print(y)

In [ ]:
y = x.copy()
x.append(10)
y.append(20)
print(x)
print(y)

# Comprehension
- a way to write a single line of code, that will help to create a new list(iterable) from existing data. It saves a lot of coding time

In [ ]:
x = [1,2,3,4,5,6]
y = []
for i in x:
    y.append(i + 10)
print(y)

syntax
```
newlist = [ expression loop (condition) ]
```

In [ ]:
z = [i + 11 for i in x]
print(z)

In [ ]:
colors = ['red','blue','green','yellow']
colors2 = [c.title() for c in colors]
colors2

In [ ]:
# sum of all the even values only
x = [1,2,3,3,4,5,6,2,3,4,5,1,2,3,5,2,4,5,2,2,1,1,1,2,2,2,2,3,3,3]

In [ ]:
x_even = []
for i in x:
    if i % 2 == 0:
        x_even.append(i)
print(sum(x_even))

In [ ]:
x_even = [i for i in x if i % 2 == 0]
sum(x_even)

# lambda expression
- simple anonymous function that can perform simple one line coding expression
- we use lambda keyword
- syntax
    ```
    variable = lambda temp_var : expression 
    ```

In [ ]:
f = lambda i : i * 5 + (i - 5)

In [ ]:
for i in range(5):
    print(f(i))

In [ ]:
g = lambda p,b: ( p**2 + b ** 2) ** .5

In [ ]:
g(12,5)

In [67]:
x = [2,3,56,1,34,45,67]
result = []
for i in x:
    result.append(f(i))
result

[7, 13, 331, 1, 199, 265, 397]

In [68]:
# single line operation
result = [f(i) for i in x]
result

[7, 13, 331, 1, 199, 265, 397]

In [70]:
# fastest way using a map function
list(map(f, x))

[7, 13, 331, 1, 199, 265, 397]

In [71]:
# pythagoras using map
a = [1,2,3,3,5,6,5,7]
b = [2,3,5,1,2,4,5,6]
h = list(map(g, a, b))
print(h)

[2.23606797749979, 3.605551275463989, 5.830951894845301, 3.1622776601683795, 5.385164807134504, 7.211102550927978, 7.0710678118654755, 9.219544457292887]

In [73]:
# square of every value in x
x = [1,2,3,4,5,6,7,8,9]
x2 = list(map(lambda i: i ** 2, x))
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
# only odd
[i for i in x if i % 2 != 0]

[1, 3, 5, 7, 9]

In [77]:
# only odd value using filter
list(filter(lambda i: i%2 != 0, x))

[1, 3, 5, 7, 9]

# TASK ( use comprehension or map-filter codes) 
- create a list of `10 fruits`, then generate a list of fruits using comprehension that contain 6 or less characters
- create a list of `25 numbers` and then generate a list with each element a cube of original value
- create a list of 10 words and then extract all the words starting with letter `A` or `a` using map
- calculate the sum of the values in this list `['$100','$200','$230','$120','$240']` using map