# What u will learn
- creation
- indexing and slicing
- operators with list
- functions
- list comprehension
- lambda expression
- map and filter

## properties
- is indexed
- is mutable (dynamic/changeable at runtime)
- is heterogenous (can store diffrent datatype element)
- is represented by square bracket `[ ]`
- has a function called `list()` 
- can hold duplicate elements
- can be nested

In [ ]:
x = [] # empty list
print(x)

In [ ]:
y = [1,2,3,4]
print(y)
colors= ['red','blue','green']
print(colors)
z = [True,False,True]
print(z)

In [ ]:
a = [1,2,'apple','banana',True,21.22]
print(a)

In [ ]:
nest_list = [[1,2],[3,4],[4,5]]
print(nest_list)

In [ ]:
name = "Sylvester"
name_char = list(name)
print(name_char)

In [ ]:
a = 10
b = 20
c = 30
x = [a,b,c]
x

In [ ]:
# advance way of replication
ones =  [1] * 10
ones

In [ ]:
x = [34,1,2,31,23,1,45,6,56,23,23,12]
print(x[0])
print(x[5])
print(x[-5])
print(x[-1])

In [ ]:
x[0] = 5
x[-1] = 10
x

In [ ]:
x[:5] # first five

In [ ]:
x[-5:] # last five

In [ ]:
x[2:-2] # everything except first 2 and last 2

In [ ]:
x[::-1] #reversing

In [ ]:
# replication => list can be multiplied with postive integer only
[0] * 5

In [ ]:
# concatenation => list can be concatenated with a list
x + z

In [ ]:
xz = x + z
print(xz)

## functions (methods)
- for adding item
    - append
    - insert
    - extend
- for removing item
    - remove - by value
    - pop - by index
    - clear
- other functions
    - count
    - index
    - copy
    - reverse
    - sort

In [ ]:
books = ['Pygmalion','Julias Caeser']

In [ ]:
books.append("Legion")
books

In [ ]:
books.append("The final Empire")
books

In [ ]:
books.append('AppleSeed')
books

In [ ]:
x = ['red','yellow','blue']

In [ ]:
x.insert(1,'orange')
x

In [ ]:
x.insert(3,'green')
x

In [ ]:
new_books = ['New Moon','The chambers of secrets','The Way of Kings']

In [ ]:
books.extend(new_books)
books

In [ ]:
books

In [ ]:
if 12 in books:
    books.remove(12)
books

In [ ]:
if 'The final Empire' in books:
    books.remove('The final Empire')
books

In [57]:
books.pop(5) # pops outs elemnets from index 5

'New Moon'

In [58]:
deleted_item  = books.pop(0)
deleted_item

'Pygmalion'

In [59]:
books

['Julias Caeser',
 'Legion',
 'The final Empire',
 'AppleSeed',
 'The chambers of secrets',
 'The Way of Kings']

In [61]:
books.pop()

'The Way of Kings'

In [63]:
books.pop()

'The chambers of secrets'

In [64]:
books

['Julias Caeser', 'Legion', 'The final Empire', 'AppleSeed']

In [65]:
x.clear()
x

[]

In [70]:
books.reverse()
books

['AppleSeed', 'The final Empire', 'Legion', 'Julias Caeser']

In [71]:
books.sort()
books

['AppleSeed', 'Julias Caeser', 'Legion', 'The final Empire']

In [72]:
x = [1,2,3]*3 + [1,2]*5

In [73]:
x

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [76]:
x.count(3)

3

### TASKS
- take user input and store the values in list, till the user enters EOF
- Create a list from 1 to 100 and then display the sum of all the even values in it
- Add 5 to each element of given list `[12,45,67,7,21]`
- remove all the duplicate values from the given list `[1,2,2,2,1,1,2,2,2,1,2,2,2,2,2,2,1,1,2,3]`