# this is a bad code

In [ ]:

x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)

# Loops

- ## for 
    - the number of repetetion is known
    - loops run according to iterable (any item that contains multiple subitems)
    ```
    for temp in iterable:
        statement 1
        statement 2
        ...
        statement n
    ```
- ## while
    the number of repetetion is based on condition
    ```
    while expression:
        statement 1
        statement 2
        ...
        statement n
    ```

In [3]:
for i in range(5):
    print('Loop code')

In [4]:
for i in range(5):
    x = int(input('X:'))
    y = int(input('Y:'))
    s = x + y
    print("total", s)

total 15
total 7
total 5
total 24
total 90

end = line change k liye

In [9]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [10]:
for i in range(5,25):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [12]:
for i in range(5, 26, 2):
    print(i, end=' ')

5 7 9 11 13 15 17 19 21 23 25

In [13]:
for i in range(5,101,5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [16]:
for i in range(10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

displaying only numbers divisble by 5 and 7 in a loop

In [23]:
total = 0
for i in range(1,1000):
    if i % 5 == 0 and i % 7 == 0:
        total+= i
print("TOTAL",total)

TOTAL 14210

### Print the total of all even numbers from 1 - 15000

In [24]:
total =  0 
for i in range(1,15000):
    if i % 2==0:
        total+=i
print(total)

56242500

In [25]:
sum(range(2,15000,2))

56242500

## Iterating Data Structures
ex: String , List, set, etc

In [ ]:
name = "Alexander Maximus"
for char in name:
    print(char)

In [27]:
words = ["We", "are", "going", "to", 'eat', 'the', 'Pizza']
for word in words:
    print(word)

We
are
going
to
eat
the
Pizza

In [28]:
for word in words:
    print(word, len(word))

We 2
are 3
going 5
to 2
eat 3
the 3
Pizza 5

In [29]:
data = [[1,2,3], [4,5,6], [7,8,9]]

for item in data:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [30]:
for items in data:
    for value in items:
        print(value, end=' ')

1 2 3 4 5 6 7 8 9

### Questions
- WAP to print the average of a list given below [12,1,23,34,45,56,23,12]
- WAP to print the min and max from a list given [2,3,1,23,5,45,657,23,23,12]
- WAP to take input from user 10 times and then calculate total and average