# set
### properties
- is unordered
- is unindexed
- is mutable (dynamic can only store immutable data)
- is heterogenous (can store diffrent datatype element)
- is represented by square bracket `{ }`
- has a function called `set()` 
- hold only unique elements
- cannot be nested

# what u need to learn
- create 
- loop ` | & - ^ `
- operations
- functions
- comprehension
- map and filter

In [ ]:
# empty set will not be {}
x = set() 
print(x)
# single element set
x = {1} 
print(x)
# multi element set
x = {12,23,321,312,312,} 
print(x)

In [ ]:
a = [1,2,3,3,12,31,31,3,123,12,312,3,123,12,3]
print(set(a))

In [ ]:
a = "Albert Eienstien"
print(set(a))

In [ ]:
x = {1,2,3,"Abc","bbc",(1,2,3,4),(2,2)}
print(x)

In [ ]:
x = {[1,2,3],{1,2,3}}

In [ ]:
for item in x:
    print(item)

In [ ]:
a = {12,1,1,1,1,2,2,2,2,3,3,3,3}
for i in a:
    print(i)

In [13]:
# operations in set
a = {1,2,3,4}
b = {2,1,2,3}
a | b # union

{1, 2, 3, 4}

In [14]:
a = {1,2,3,4}
b = {2,1,2,3}
c = {2,3,5,6}
a | b | c # union

{1, 2, 3, 4, 5, 6}

In [33]:
avengers = {'Ironman','Captain America','Black Widow','HawkEye','Thor','Hulk'}
caws = {'Captain America','Winter Soldier','Black Widow','Falcon'}
cacw = {'Captain America','Winter Soldier','Black Widow','Falcon',
        'Ironman','Captain America','Black Widow','HawkEye','Spiderman','Ant man',
        "Black panther",'Vision','Scarlet Witch'}
z= 5
# union
print(avengers | caws)

{'HawkEye', 'Falcon', 'Captain America', 'Ironman', 'Hulk', 'Winter Soldier', 'Black Widow', 'Thor'}

In [20]:
# intersection
print(avengers & caws)

{'Black Widow', 'Captain America'}

In [21]:
# union
print(avengers & cacw)

{'Black Widow', 'Ironman', 'Captain America', 'HawkEye'}

In [22]:
# difference
print(cacw - avengers)

{'Ant man', 'Falcon', 'Black panther', 'Vision', 'Spiderman', 'Winter Soldier', 'Scarlet Witch'}

In [27]:
# difference
print(cacw - caws)

{'Ant man', 'HawkEye', 'Black panther', 'Vision', 'Ironman', 'Spiderman', 'Scarlet Witch'}

In [28]:
# symmetric difference
print(avengers ^ cacw)

{'Ant man', 'Falcon', 'Black panther', 'Vision', 'Spiderman', 'Winter Soldier', 'Hulk', 'Scarlet Witch', 'Thor'}

In [36]:
x = {1,2,3,3,5}
y = {2,3} # y is a subset of x , x is superset of y
z = {3,4,5} # z in not a subset of x, also x is not a superset of z
a = {11,21,33} # a is disjointed from x , z also y

True

In [37]:
y < x # subset of x

True

In [38]:
z < x # not subset of x

False

In [39]:
x > y # x is superset of y

True

In [40]:
x > z # x is not superset of z

False

# functions
- adding items
    - add
    - update
- remove items
    - remove
    - pop
    - clear
- set theory
    - union
    - intersection
    - diffrence
    - symmetricdiffrence
    - etc...

In [45]:
a = set()
a.add(1)
a.add(12)
a.add(13)
a.add(23)
a.add(13)
a.update([1,62,63]) # list
a.update((11,22,33)) # tuple
a.update({51,52,53}) # set
print(a)

{1, 33, 11, 12, 13, 51, 52, 53, 22, 23, 62, 63}

In [47]:
a.intersection_update([1,11,12,13,13,14])
a

{1, 11, 12, 13}

In [48]:
a.remove(11)
a

{1, 12, 13}

In [50]:
if 10 in a:
    a.remove(10)
a

{1, 12, 13}

In [53]:
a.pop()
a

{12, 13}

In [55]:
cacw.pop()

'Ant man'

In [58]:
a.clear()
a

set()

In [59]:
caws.union(avengers)

{'Black Widow',
 'Captain America',
 'Falcon',
 'HawkEye',
 'Hulk',
 'Ironman',
 'Thor',
 'Winter Soldier'}

In [60]:
caws.intersection(cacw)

{'Black Widow', 'Captain America', 'Falcon', 'Winter Soldier'}

In [61]:
caws.difference(cacw)

set()

In [63]:
avengers.symmetric_difference(cacw)

{'Black panther',
 'Falcon',
 'Hulk',
 'Scarlet Witch',
 'Spiderman',
 'Thor',
 'Vision',
 'Winter Soldier'}

In [65]:
avengers.discard('Hulka')
avengers

{'Black Widow', 'Captain America', 'HawkEye', 'Hulk', 'Ironman', 'Thor'}

In [70]:
b.issubset(x)

True

In [72]:
print(b, x)

{1, 2, 3} {1, 2, 3, 5}

In [75]:
print(x.issuperset(b))
print(x,b)

True
{1, 2, 3, 5} {1, 2, 3}

In [76]:
x.isdisjoint(b)

False

In [77]:
x.isdisjoint(avengers)

True

In [78]:
x & b

{1, 2, 3}

In [89]:
import random
x = []
for i in range(1,100):
    x.append(random.randint(1,10))
print(x)

[9, 8, 4, 8, 1, 7, 10, 2, 8, 9, 7, 10, 6, 3, 1, 1, 2, 5, 7, 7, 10, 4, 7, 8, 6, 3, 6, 1, 10, 5, 9, 1, 6, 7, 3, 7, 5, 9, 4, 6, 6, 2, 10, 9, 1, 4, 1, 6, 3, 2, 4, 7, 1, 5, 9, 3, 4, 2, 4, 1, 1, 6, 10, 1, 9, 9, 2, 2, 1, 3, 3, 8, 2, 7, 6, 5, 2, 3, 1, 5, 1, 5, 3, 4, 6, 8, 3, 3, 9, 1, 6, 2, 4, 7, 7, 5, 10, 6, 3]

In [90]:
x = list(set(x)) # this is removal of duplicate from list
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
x10 = {i*10 for i in x} # comprehension

In [96]:
x2= set(map(lambda i: i **2, x))
x2

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}