# what you will learn?
- string creation
- string operation
- string indexing and slicing
- string functions

In [ ]:
a = 'hello'
print(a)
print(type(a))

In [ ]:
a = "Yellow"
print(a)
print(type(a))

In [ ]:
msg = '''
this
is
a
print
in multiple line
'''

In [ ]:
x = input("Enter something>>")
print(x, type(x))

In [ ]:
str([1,2,3,4])

In [ ]:
for i in range(2000):
    print(chr(i), end=" ")

### string operation using operators

In [ ]:
# string can be concatenated with another string using +
"Lion" + "King"

In [ ]:
"a "+"b "+"e "+"f "+"d "

In [ ]:
"Delhi" + "6"

In [ ]:
# string can be duplicated using * with a positive integer
"Apple" * 0

In [ ]:
"üçé" * 100

In [ ]:
"Spiderman is a "+'‚≠ê' * 5+" movie"

In [ ]:
for i in range(1,15):
    print("‚ú®" * i)

In [29]:
for i in range(10,0,-1):
    print("." *i)

..........
.........
........
.......
......
.....
....
...
..
.

### indexing and slicing
square bracket after a iterable variable means indexing and slicing logic
- slicing syntax
```
var[start:stop] - start from an index and select data till stop - 1 
var[:stop] - start from 0 and select till stop - 1
var[start:] - start from the value and select till ending of string
var[start:stop (:gap)]
```

In [30]:
name = 'Vijay Deenanath Chauhan'

In [34]:
print(name[0], name[-1])
print(name[5 : 11])

V n
 Deena

In [41]:
fname = name[:5]
print(fname)

Vijay

In [38]:
name[-7:]

'Chauhan'

In [39]:
name[6:-8]

'Deenanath'

In [42]:
word = 'Encyclopedia'
# only char at even indexes
word[::2]

'Eccoei'

In [44]:
# only chars at odd indexes
word[1::2]

'nylpda'

In [46]:
# reverse a string data
name[::-1]

'nahuahC htananeeD yajiV'

In [47]:
word[::-1]

'aidepolcycnE'

### FUNCTIONS in string
- formatting function
- validation function
- utility function

#### FORMATTING FUNCTIONS

In [48]:
msg = "This is not a Message"

In [49]:
msg.upper()

'THIS IS NOT A MESSAGE'

In [50]:
msg.lower()

'this is not a message'

In [51]:
msg.title()

'This Is Not A Message'

In [52]:
msg.casefold()

'this is not a message'

In [53]:
msg

'This is not a Message'

In [54]:
msg2 = msg.upper()

In [55]:
msg.capitalize()

'This is not a message'

In [56]:
msg.swapcase()

'tHIS IS NOT A mESSAGE'

In [58]:
msg.swapcase?

Signature: msg.swapcase()
Docstring: Convert uppercase characters to lowercase and lowercase characters to uppercase.
Type:      builtin_function_or_method

In [60]:
help(msg.swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [64]:
name.rjust(100)

'                                                                             Vijay Deenanath Chauhan'

In [65]:
name.ljust(100)

'Vijay Deenanath Chauhan                                                                             '

In [66]:
name.center(50)

'             Vijay Deenanath Chauhan              '

In [68]:
name[:5].center(100)

'                                               Vijay                                                '

In [75]:
for i in range(1,15,2):
    print(("X"*i).center(15))

       X
      XXX
     XXXXX
    XXXXXXX
   XXXXXXXXX
  XXXXXXXXXXX
 XXXXXXXXXXXXX