# Tuple
## properties
- is ordered
- is indexed
- is **immutable** (cannot change at runtime)
- is heterogenous (can store diffrent datatype element)
- is represented by square bracket `( )`
- has a function called `tuple()` 
- can hold duplicate elements
- can be nested

# What we are going to do
- create
- indexing & slicing
- loop
- operation
- functions
- map and filter

In [2]:
x = 1,2,3,4
type(x)

tuple

In [3]:
y = (1,2,3,4,5)
y

(1, 2, 3, 4, 5)

In [8]:
#single element tuple
x = (2,) # a comma after the first element
type(x)

tuple

In [9]:
a = 'Apple'
at = tuple(a)
at

('A', 'p', 'p', 'l', 'e')

In [10]:
b = [1,2,3,4]
bt = tuple(b)
bt

(1, 2, 3, 4)

In [11]:
#nested tuple
geo = ((1,2),(3,4),(5,6))
marks = [(41,22,32),(12,34,45)]

In [28]:
## indexing and slicing
at[0] # first element

'A'

In [19]:
at[-1] # last element

'e'

In [22]:
at[3] # random

'l'

In [25]:
at[:3] # first three

('A', 'p', 'p')

In [26]:
at[-2:] # last 2

('l', 'e')

In [30]:
at[1:4] # 1st to 3rd index

('p', 'p', 'l')

In [31]:
for i in bt:
    print(i)

1
2
3
4

In [32]:
i = 0
while i < len(bt):
    print( bt[i])
    i += 1

1
2
3
4

In [33]:
bt + at #concatenate

(1, 2, 3, 4, 'A', 'p', 'p', 'l', 'e')

In [39]:
print((1,2) * 10) # duplication

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [43]:
# function
a = (1,2,31,23,132,1,31,31,3,13,1,31,23,123,1,31,23,1,312,321,31,2)
a.count(33)

0

In [47]:
a.index(31)

2

### comprehension and map and filter

In [53]:
x = (i+5 for i in a) # actually a generator
print(tuple(x))

(6, 7, 36, 28, 137, 6, 36, 36, 8, 18, 6, 36, 28, 128, 6, 36, 28, 6, 317, 326, 36, 7)

In [ ]:
tuple(map(lambda i: i ** 2, a))

In [59]:
tuple(filter(lambda i: i % 2 , a))

(1, 31, 23, 1, 31, 31, 3, 13, 1, 31, 23, 123, 1, 31, 23, 1, 321, 31)

In [61]:
# list to tuple and vice versa
x = [1,2,3,4,5]
xt =  tuple(x)
print(x, xt)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

In [65]:
xl = list(xt)
print(xt, xl)

(1, 2, 3, 4, 5) [1, 2, 3, 4, 5]

In [72]:
a[0] = 'asda'

TypeError: 'tuple' object does not support item assignment