In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
top_box_office_data_link = 'https://www.imdb.com/chart/boxoffice/?ref_=nv_ch_cht'

In [3]:
page = requests.get(top_box_office_data_link)
print(page.status_code)

200

In [4]:
soup = BeautifulSoup(page.text,"lxml")

In [5]:
soup.h1

In [6]:
section = soup.find('div',{'class':'article'})

In [7]:
databody = section.find('tbody')

In [8]:
movielist = databody.find_all('tr')
len(movielist)

10

In [9]:
for movie in movielist:
    title =  movie.find("td",{'class':'titleColumn'})
    ratings = movie.find_all('td',{'class':'ratingColumn'})
    weeks = movie.find('td',{'class':'weeksColumn'})
    print("name:",title.text.strip())
    print("weekly:",ratings[0].text.strip())
    print("gross:",ratings[1].text.strip())
    print("weeks",weeks.text.strip())
    print("---"*10)

name: Jackass Forever
weekly: $23.2M
gross: $23.2M
weeks 1
------------------------------
name: Moonfall
weekly: $9.9M
gross: $9.9M
weeks 1
------------------------------
name: Spider-Man: No Way Home
weekly: $9.5M
gross: $748.9M
weeks 8
------------------------------
name: Scream
weekly: $4.8M
gross: $69.0M
weeks 4
------------------------------
name: Sing 2
weekly: $4.2M
gross: $139.6M
weeks 7
------------------------------
name: The King's Man
weekly: $1.2M
gross: $35.8M
weeks 7
------------------------------
name: Redeeming Love
weekly: $1.0M
gross: $8.1M
weeks 3
------------------------------
name: American Underdog
weekly: $781K
gross: $25.9M
weeks 7
------------------------------
name: The 355
weekly: $698K
gross: $14.2M
weeks 5
------------------------------
name: Licorice Pizza
weekly: $645K
gross: $12.7M
weeks 11
------------------------------

In [10]:
with open('crappy_data_file.tsv','w') as file:
    for movie in movielist:
        title =  movie.find("td",{'class':'titleColumn'})
        ratings = movie.find_all('td',{'class':'ratingColumn'})
        weeks = movie.find('td',{'class':'weeksColumn'})
        file.write(f"{title.text.strip()}\t{ratings[0].text.strip()}\t{ratings[1].text.strip()}\t{weeks.text}\n")
    print("saved as crappy_data_file.tsv")

saved as crappy_data_file.tsv

In [11]:
import pandas as pd

In [12]:
pd.read_csv('crappy_data_file.tsv',sep='\t',header=None)

                         0       1        2   3
0          Jackass Forever  $23.2M   $23.2M   1
1                 Moonfall   $9.9M    $9.9M   1
2  Spider-Man: No Way Home   $9.5M  $748.9M   8
3                   Scream   $4.8M   $69.0M   4
4                   Sing 2   $4.2M  $139.6M   7
5           The King's Man   $1.2M   $35.8M   7
6           Redeeming Love   $1.0M    $8.1M   3
7        American Underdog   $781K   $25.9M   7
8                  The 355   $698K   $14.2M   5
9           Licorice Pizza   $645K   $12.7M  11